{% block genemu_jqueryselect2_tags_widget %}
    {{ form_row(form) }}

    <script type="text/javascript">
        $field = $('#{{ id }}');

        var $configs = {{ configs|json_encode|raw }};
        var tags = [];
        var term;

        // custom configs
        $configs = $.extend($configs, {
            minimumInputLength: 2,
            query: function (query) {
                term = query.term;
                $.ajax({
                    url: Routing.generate('ajax_get_tags', {term: query.term}),
                    success: function(data) {
                        tags.results = data;
                        query.callback(tags);
                    }
                });

            },
            createSearchChoice: function (term) {
                var tag = [];
                tag.id = term;
                tag.text = term;
                for (var i=0; tags.results.length > i; i++) {
                    if (tags.results[i].text == tag.text) {
                        return null;
                    }
                }

                return tag;
            },
            initSelection : function (element, callback) {
                var tags = element.val().split(',');
                $.ajax({
                    async: false,
                    url: Routing.generate('ajax_get_tags', {ids: tags}),
                    success: function(tags) {
                        callback(tags);
                    }
                });
            }
        });
        $field.select2($configs);
        $field.on('select2-selecting', function(e) {
            if (typeof (e.val) == 'string') {
                var values = $field.val();
                values = values.split(",");
                if (!findOccurrence(values, e.val)) {
                    $.ajax({
                        async: false,
                        url: Routing.generate('ajax_add_tag', {name: e.val}),
                        type: 'PUT',
                        success: function(data) {
                            var value;
                            if ($field.val()) {
                                value = $field.val() + ',';
                            } else {
                                value = $field.val();
                            }
                            $field.val(value + data);
                            $field.trigger("change");
                        }
                    });
                }
                e.preventDefault();
                $field.select2("close");
            }

        });
        function findOccurrence(values, value) {
            for (var i=0; values.length > i; i++) {
                if (values[i].text == value) {
                    return true;
                }
            }
        }

    </script>

{% endblock %}